.container-fluid {
    width: 300px;
    height: 300px;
    overflow: hidden;
    margin: 0 auto;
}
   
.container-fluid img {
    width: 100%;
    transition: 0.5s all ease-in-out;
}
   
.container-fluid:hover img {
    transform: scale(1.5);
}

.zoomin img 
{
    height: 200px;
    width: 200px;
    -webkit-transition: all 2s ease;
    -moz-transition: all 2s ease;
    -ms-transition: all 2s ease;
    transition: all 2s ease;
  }
  .zoomin img:hover {
    width: 300px;
    height: 300px;
  }